<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         verbose="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Netgen\Bundle\EzSocialConnectBundle\Tests">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>Controller</directory>
                <directory>Command</directory>
                <directory>DependencyInjection</directory>
                <directory>Entity</directory>
                <directory>OAuth/ResourceOwner</directory>
                <directory>Exception</directory>
                <directory>Resources</directory>
                <directory>Tests</directory>
                <directory>Twig</directory>
                <directory>vendor</directory>
                <file>NetgenEzSocialConnectBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
